!/log/.keep
!/tmp/.keep
*$py.class
*.cover
*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.sage.py
*.so
*.spec
./settings.txt
.DS_Store
.Python
.byebug_history
.cache
.coverage
.coverage.*
.dmypy.json
.eggs/
.env
.hypothesis/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.nox/
.pyre/
.pytest_cache/
.python-version
.ropeproject
.sass-cache
.scrapy
.spyderproject
.spyproject
.tox/
.venv
.webassets-cache
.yarn-integrity
/.bundle
/.vscode
/db/*.sqlite3
/db/*.sqlite3-journal
/db/imports
/log/*
/node_modules
/public/assets
/public/packs
/public/packs-test
/public/uploads
/site
/storage
/tmp
/tmp/*
/yarn-error.log
ENV/
MANIFEST
__pycache__/
build/
callcenterapp_2020-08-31.dump
celerybeat-schedule
config/config.yml
config/database.yml
config/master.key
config/secrets.yml
coverage
coverage.xml
db.sqlite3
db.sqlite3-journal
db/TSVs/
db/imports/fee_schedule_files
develop-eggs/
dist/
dmypy.json
doc
docs
docs/_build/
downloads/
dump.rdb
dump.rdp
eggs/
env.bak/
env/
git-data.txt
gource_gravatar.pl
htmlcov/
instance/
ipython_config.py
lib64/
local_settings.py
node_modules
nosetests.xml
parts/
pg_upgrade_internal.log
pg_upgrade_server.log
pg_upgrade_utility.log
phone_ext.txt
pip-delete-this-directory.txt
pip-log.txt
pip-wheel-metadata/
profile_default/
public/exports/
rspec_results.html
sdist/
share/python-wheels/
spec/examples.txt
spec/vcr_cassettes
target/
var/
vendor
venv.bak/
venv/
wheels/
yarn-debug.log*
